/*//////// Package Header //////////////*/
.package-header {
	h1 {
		font-weight:300;
		font-size:3rem;
	}
	.package-header-title {
		min-height:240px;
		display:flex;
		align-items: center;
	}
	.package-header-image {
		position:relative;
		background-color:$white;
		border-top:1px solid $light-gray;
		height:125px;
		display:flex;
		justify-content: center;
		img {
			position:absolute;
			top:-275px;
		}
	}
}


/*/////// Package Menu //////////////////*/
.package-menu {
	background-color:$dark-gray;
	@include breakpoint (small only) {
		background-color:transparent;
	}
	.menu-container {
		background-color:$dark-gray;
	}
	ul {
		list-style: none;
		margin:0;
		display:table;
		width:100%;
		table-layout: fixed;
		li {
			display:table-cell;
			text-align:center;
			&:before {
				content:'';
				margin:0;
			}
			&:first-child {
				a {
					border-left:1px solid $white-blue;
					color:$tertiary-color;
				}
			}
			&:nth-child(2){
				a {
					background-color:$white-blue;
					color:$dark-gray;
					@include breakpoint (small only) {
						border-top:5px solid $white-blue;
					}
				}
			}
			a {
				text-transform: capitalize;
				color:$white;
				display:block;
				width:100%;
				font-weight:500;
				border-right:1px solid $white-blue;
				font-size:1.25rem;
				padding-top:20px;
				padding-bottom:20px;
				&:hover {
					background-color:$primary-color;
					color:$white;
				}
				@include breakpoint (small only) {
					font-size:1rem;
					border-top:5px solid $primary-color;
				}
			}
		}
	}
	.menu-help {
		display:flex;
		justify-content: flex-end;
		align-items: center;
		color:$white;
		font-size:1.25rem;
		font-weight:300;
		@include breakpoint (small only) {
			justify-content: center;
			color:$dark-gray;
		}
	}
	.menu-title {
		display:flex;
		justify-content: center;
		color:$dark-gray;
		h1 {
			font-size:2.75rem;
			font-weight:300;
			margin-bottom:0;
		}
	}
	
}



/*/////// Packages Section //////////////*/
.packages {
	padding-top:40px;
	padding-bottom:25px;
	@include breakpoint (small only) {
		padding-top:1rem;
	}
	h2 {
		font-weight:500;
	}
	.package {
		background-color:$white;
		border:1px solid $light-gray;
		position:relative;
		@include breakpoint (small only) {
			margin-top:8rem;
			border:0;
		}
		.package-button-container {
			display:flex;
			justify-content: center;
			position: relative;
			margin-top:-12px;
			width:100%;
			@include breakpoint (small only) {
				top:-120px;
				margin-top:0;
				position:absolute;
			}
			.button {
				max-width:200px;
			}
			/*/// vehicle image replaces button on mobile ///*/
			img {
				height:100%;
				width:100%;
			}
		}
		.package-header {
			border-bottom:1px solid $light-gray;
			display:flex;
			width:100%;
			padding:2.2rem 1.25rem 1rem;
			@include breakpoint (small only) {
				padding-top:4rem;
			}
			> div {
				width:100%;
			}
			.package-price {
				text-align:right;
				h2 {
					margin-bottom:0;
				}
				small {
					position:relative;
					top:-8px;
					font-weight:500;
				}
			}
		}
		.package-contents {
			padding:1rem 1.25rem 2rem;
			.package-contents-list {
				display:block;
				@include breakpoint (small only) {
					display:none;
				}
			}
		}
		.package-links {
			padding:1rem 1.25rem 2rem;
			.button {
				max-width:none;
				width:50%;
				@include breakpoint (small only) {
					width:100%;
				}
			}
		}
		&.active {
			border:2px solid $primary-color;
			.package-button {
				background-color:$primary-color;
			}
			
		}
	}
}


/*/////// Packages Slider //////////////*/
.package-slider {
	.package-slider-header {
		background-color:$primary-color;
		color:$white;
		text-transform: capitalize;
		margin-bottom:8px;
		font-size:1.25rem;
		font-weight:500;
		padding-top:5px;
		padding-bottom:5px;
	}
	.package-slider-image {
		background-color:$white;
		img {
			margin:0 auto;
			width:100%;
		}
	}
	.package-slider-description {
		padding:1.25rem;
		background-color:$white;
		border:1px solid $light-gray;
		p {
			max-height: 140px;
    		overflow: hidden;
			&.open{
				max-height: none;
			}
		}
		.description-expand {
			display:flex;
			justify-content: flex-end;
		}
		.package-slider-description-contents {
			padding-top:1rem;
			border-top:1px solid $light-gray;
			margin-top:1rem;
		}
	}
	.package-slider-description-title,.package-slider-description-partnumber {
		font-weight:500;
	}
	.package-slider-description-title {
		font-size:1.5rem;
		line-height:1.3;
		@include  breakpoint (small only) {
			font-size:1.25rem;
		}
		span {
			font-size:.9rem;
			font-weight:900;
		}
	}
	.package-slider-description-partnumber {
		font-size:.875rem;
		display:flex;
		align-items: flex-end;
	}
}