@charset 'utf-8';
@import 'settings';
@import 'foundation';

/* ==========================================================================
   Table of Contents
   ========================================================================== */


/*
    1.   General
    2.   Header
    3.   Footer
    4.   Home Page    
    ---  Wheel Pages  ---
    5.1  Wheel Brands Page
    5.2  Wheels Display Page
    5.3  Wheel Detail Page
    ---  Tire Pages   ---
    6.1  Tire Brands Page
    6.2  Tires Display Page
    6.3  Tire Detail Page
    ---  Accessory Pages   ---
    7.1  Accessory Brands Page
    7.2  Accessories Display Page
    7.2  Accessory Detail Page
    ---  Gallery Pages  ---
    8.1  Gallery Header
    8.2  Gallery Landing Page
    8.3  Gallery Detail Page
    ---  Other Pages  ---
    9.   Contact Page
    10.  Dealers Page
    11.  News Pages
    12.  Configurator Page
*/


/* ==========================================================================
   1. General (Foundation Overrides)
   ========================================================================== */

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    font-weight: 400;
	background-color:$white-blue;
	color:$medium-gray;
}

h1 {
	font-size:2rem;
	font-weight:700;
}
h2 {
	font-size:1.85rem;
	font-weight:900;
}
/*h1,
h2,
h3 {
    color: #000000;
    text-transform: uppercase;
    line-height: 1;
}

h4,
h5,
h6 {
    font-weight: 700;
    letter-spacing: -1px;
}

h1 {
    font-size: 5.44rem;
}

h2 {
    font-size: 4.18rem;
}

h3 {
    font-size: 3.1rem;
}

h5 {
    font-size: 2.09rem;
}

h6 {
    font-size: 1.15rem;
}

.h1 {
    font-size: 1.5rem;
}

.h2 {
    font-size: 1.8rem;
    font-weight: 700;
}*/

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    color: #999;
}

p,
a {
    font-size: 1.1rem;
}

a {
    color: #d40000;
    &:hover {
        color: #666666;
    }
}
ul, ol {
    margin-right: 0;
    margin-bottom: 0;
}
li {
    color:$primary-color;
    span {
        color:$medium-gray;
    }
}
/*li:before {
	content:'\f111';
	font-family: 'FontAwesome';
	color:$primary-color;
	font-size:.01rem;
	margin-right:1rem;
	vertical-align: middle;
}*/
table {
    min-width: 100%;
    margin-bottom: 0;
    border: 0;
}

table tr td,
table thead tr th {
    text-align: center;
}

table thead tr th {
    color: #fefefe;
    background: #707070;
}

.bg-img {
    background-color: #333;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hidden {
    display: none;
}

.product-paragraph {
    color: #000;
    margin-bottom: 0.5rem;
    text-align: left;
    margin-right: 1rem;
}

.info {
    &--limit {
        line-height: 1.2em;
        overflow: hidden;
        margin-bottom: 0;
    }

    &--height {
        height: 6em;
    }
}

.primary {
    color: $primary-color;
}
.primary-bg {
    background-color: $primary-color;
}

.red-bg {
    background-color: #d40000;
}

.black-font {
    color: #333;
}

.red {
    color: #d40000;
}

.white {
    color: #fefefe;
}

.button {
	max-width:150px;
	width:100%;
	background-color:$dark-gray;
	text-transform: capitalize;
	font-weight: 700;
	font-size:1.125rem;
	margin-bottom:0;
}
.button:hover {
	background-color:$primary-color;
}
.button:focus {
	background-color:$medium-gray;
}
.no-margin {
    margin-bottom: 0;
}

.button.secondary {
    background-color: #e7e7e7;
    color: #323232;
}

.black,
.button.black {
    background-color: #000000;
}

.text-uppercase {
    text-transform: uppercase;
}

.button-group .button {
    padding-right: 0;
    padding-left: 0;
}

.font-light {
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

.font-bold {
    font-weight: 700;
}

.font-heavy {
    font-weight: 900;
}

.font-italic {
    font-style: italic;
}

.g-recaptcha {
    margin-bottom: 0.5rem;
    display: inline-block;
}

#captchaCheck {
    float: left;
    margin-left: 1rem;
    text-transform: uppercase;
}

.padded {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.padded.extra {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.padded.short {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.padded-left {
    padding-left: .5rem;
}

.padded-right {
    padding-right: .5rem;
}

.accordion .accordion-navigation>.content {
    padding-right: 0;
    padding-left: 0;
}

.accordion-item:first-child>:first-child {
    font-weight: 700;
}

.anchor {
    position: relative;
    top: -3rem;
    display: block;
    visibility: hidden;
}

.full-width {
    width: 100%;
    max-width: 100%;
}

.menu.simple>li>a {
    padding: 0;
}
.menu>li:not(.menu-text)>a {
    padding: 1rem;
}
.fixed {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
}
.title-bar,
.top-bar {
    padding: 0;
}
.top-bar,
.top-bar ul {
    background-color: transparent;
}
.top-bar ul.is-dropdown-submenu {
    background-color: rgba(0, 0, 0, 1);
    border: 0px;
}

.dropdown.menu .is-dropdown-submenu-parent.is-down-arrow>a::after {
    right: 0px;
}

.dropdown.menu>li.is-dropdown-submenu-parent>a {
    padding-right: 1rem;
}

.dropdown.menu>li.is-dropdown-submenu-parent>a:after {
    border-color: #d40000 transparent transparent;
    right: 0px;
    display: none;
}

.dropdown.menu.vertical>li.opens-right>a::after {
    border-color: transparent transparent transparent #d40000;
    right: 5px;
}

.dropdown.menu>li>a:hover,
.dropdown.menu>li>ul li a:hover,
.dropdown.menu>li.is-active>a {
    color: #d40000;
}

.dropdown.menu>li>ul li a {
    padding: 1rem 2rem;
}

.dropdown.menu>li.opens-right>.is-dropdown-submenu {
    top: 154%;
    min-width: 280px;
    padding-bottom: 20px;
}

.int.site-content {
    h1 {
        font-weight: 900;
        font-size: 3.75rem;
    }
    .h2 {
        font-size: 1.5rem;
        font-weight: 300;
    }
}

address {
    font-style: normal;
}

#instafeed .column {
    padding: 1px;
}

@media only screen and (min-width: 40.063em) {
    .int.site-content .h2 {
        font-size: 2.6rem;
    }
}

/********* VIDEO *********/

#videos {
    margin-top: 3rem;
    a:hover {
        color: #666;
    }

    a::before {
        background: rgba(255, 255, 255, 0);
    }

    p {
        font-size: 1.6rem;
    }

    #next-button {
        background-color: #fff;
    }

    #video-container .column a {
        position: relative;
        display: block;
    }
}
.fa-youtube-play {
    display: block;
    color: #ff4747;
    position: absolute;
    top: 33%;
    width: 100%;
}

/*/////////// Equalizer /////////////*/
@include breakpoint (medium up){
	.equalize-small-only {
		height:auto!important;
	}
}
/* ==========================================================================
   2. Header
   ========================================================================== */
header {
    background-color:$white;
	padding-left:.625rem;
	padding-right:.625rem;
    .top-bar {
        padding: 21px 0;
        a {
            font-size: 1.4rem;
            font-weight: 700;
            color: #ffffff;
            text-transform: uppercase
        }
        .top-bar-left {
            padding: 8px 0;
            padding-right: 2%;
        }
        .hp-btn-links a {
            font-size: 1.2rem;
            padding-left: 1.8rem;
            padding-right: 1.8rem;
            margin-left: 8px;
        }
    }
    .top-bar-title {
		display:inline-grid;
		width:100%;
		margin-right:0;
		color:$dark-gray;
        img {
            max-width: 200px;
        }
    }
	.header-subtitle, .header-logo {
		display: flex;
		grid-row-start:2;
	}
	.header-subtitle {
		align-items:flex-end;
		justify-content: flex-start;
		h2 {
			margin-bottom:0;
		}
	}
    .header-logo {
/*        width: 200px;
        position: relative;
        height: 1px;
        top: -16px;
        a {
            position: absolute;
            z-index: 10;
        }*/
		align-items: center;
		justify-content: flex-end;
		a {
			text-align:right;
			@include breakpoint (small only) {
				img {
					width:90%;
				}
			}
		}
    }
}


/* ==========================================================================
   3. Footer
   ========================================================================== */

footer {
	color:$dark-gray;
	margin-top:3rem;
	margin-bottom:2rem;
	.ft-top {
		font-weight:500;
		a {
			color:$dark-gray;
		}
	}
	.ft-bottom .divider {
        padding: 0 25px;
    }
    .ft-bottom p,
    .ft-bottom .divider {
        display: inline-block;
    }
    .ft-bottom {
        font-weight: 500;
        color: $white;
        background: $dark-gray;
        text-align: center;
		a {
			color:$white;
		}
		> div {
			> div {
				display: flex;
				align-items: center;
				justify-content: center;
				@include breakpoint (small only) {
					padding-bottom: 1rem;
				}
				&:first-child {
					justify-content: flex-start;
					@include breakpoint (small only) {
						justify-content: center;
					}
				}
				&:last-child {
					justify-content: flex-end;
					@include breakpoint (small only) {
						justify-content: center;
					}
				}
			}
		}
        p {
            line-height: 7.18rem;
        }
		.ft-company {
			padding-top:.5rem;
			padding-bottom: .5rem;
		}
    }
}

@media screen and (max-width:480px) {
    footer {
        .ft-bottom {
            text-align: center;
            padding: 10px 0;
            .divider {
                display: none;
            }
            p {
                line-height: 1rem;
                font-size: .78rem;
                margin-bottom: 0;
                span {
                    font-size: .9rem;
                }
            }
        }
    }
}

/* ==========================================================================
   4.1 Brands Listing Pages
   ========================================================================== */
#wheel-brands {
    .filters {
        background-color: #3f4851;
         h5 {
            font-family: 'Roboto', sans-serif;
            font-size: 1.1rem;
            padding: 30px 0;
            text-transform: uppercase;
        }
    }
    .filter_select {
        background: #3f4851;
        padding: 1.5rem .8rem .8rem;
        select {
            text-transform: uppercase;
            background-color: #e1e1e1;
            font-weight: 500;
        }
    }
    .filter_button {
        background-color: #e1e1e1;
        color: #000;
        font-weight: 500;
        max-height: 2.45rem;
        width: 100%;
    }
}
#wheels {
    .filters {
        background-color: #3f4851;
        h5 {
            font-family: 'Roboto', sans-serif;
            font-size: 1.1rem;
            padding: 30px 0;
            text-transform: uppercase;
        }
    }
    .filter_select {
        background: #3f4851;
        padding: 1.5rem .8rem .8rem;
        select {
            text-transform: uppercase;
            background-color: #e1e1e1;
            font-weight: 500;
        }
    }
    .filter_button {
        background-color: #e1e1e1;
        color: #000;
        font-weight: 500;
        max-height: 2.45rem;
        width: 100%;
    }
}
/* ==========================================================================
   4.1 Brands Pages
   ========================================================================== */

.brand-container {
    padding-bottom: 4rem;
}

.products-list li {
    padding-top: .75rem;
}

.products-list li a,
.products-list>div a {
    display: block;
    padding: 1rem 0;
}

.hover-item,
.hover-item .fitment-quickview {
    position: relative;
    display: block;
    -webkit-transition: border-color .3s ease-in-out;
    transition: border-color .3s ease-in-out;
    text-align: center;
}

.hover-item {
    &:hover {
        border-color: #ccc;
        img {
            opacity: 1;
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
        .sizes,
        .fitment-quickview {
            top: auto;
        }
        .sizes {
            opacity: 1;
        }
    }
    .info,
    .fitment-quickview {
        position: relative;
        margin-top: -1rem;
        padding: 1rem 0;
        -webkit-transition: background-color .3s ease-in-out;
        transition: background-color .3s ease-in-out;
        background-color: transparent;
    }
    .sizes,
    .fitment-quickview {
        font-size: .8125rem;
        position: absolute;
        top: 100%;
        bottom: 10rem;
        width: 100%;
        -webkit-transition: top .3s ease-in-out;
        transition: top .3s ease-in-out;
        color: #fefefe;
    }
    .sizes {
        font-size: inherit;
        position: static;
        -webkit-transition: opacity .3s ease-in-out;
        transition: opacity .3s ease-in-out;
        font-size: 1.4rem;
        font-weight: 900;
        text-transform: uppercase;
        color: #d40000;
        opacity: 0;
        a {
            color: #000000;
            font-weight: 700;
            font-size: 1.4em;
        }
    }
    h6 {
        line-height: 1.2;
        margin-bottom: 0;
        font-size: 1.2rem;
    }
    h6,
    h6 small {
        color: #545454;
        -webkit-transition: color .3s ease-in-out;
        transition: color .3s ease-in-out;
    }
    img {
        -webkit-transition: -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
    }
}

.parallax {
    position: relative;
    overflow: hidden;
    margin-bottom: 1.5rem;
    text-align: center;
    h1,
    h2 {
        position: relative;
        padding: 1.8rem;
    }
    h1 {
        letter-spacing: 0;
        img {
            padding-bottom: 1rem;
        }
    }
    .img {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #333;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .bg-top {
        background-position: center top;
    }
    .img:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        opacity: .4;
        background: #000;
    }
}
/* wheel header filter */
.product-filter {
    text-align: center;
    padding-top: 30px;
    h5 {
        background-color: transparent;
        font-size: 1.1rem;
        padding: 30px 0;
    }
}
#wheel-search .filter-menu {
    display: inline-block;
    padding: 0 5px;
}

/* wheel fitment guide header */
.wheels-with-fitment-pg {
    margin-bottom: 0;
}

.selected-vehicle-container {
    text-align: center;
    background-color: #e0e0e0;
    color: #000000;
    padding: 25px;
    margin-bottom: 1.5rem;
    .selected-vehicle-header {
        display: inline-block;
        font-size: 1.7rem;
        font-weight: 600;
        letter-spacing: -1px;
    }
    .selected-vehicle-link {
        display: inline-block;
        padding: 0px 5px;
        font-weight: 400;
    }
}

@media only screen and (min-width: 40rem) {
    .products-list h2 {
        font-size: 2rem;
    }
    .parallax h1.padded {
        padding: 2.7rem;
    }
}


/* ==========================================================================
   4.2 Detail Pages
   ========================================================================== */

#tech-specs {
    position: relative;
    top: -6.6rem;
    display: block;
    visibility: hidden;
}

#detail-top {
    p {
        font-size: 1rem;
    }
    .menu.simple>li {
        display: inline-block;
    }
    .images {
        position: relative;
    }
    .main-image {
        margin-bottom: 0;
    }
    .alt-images {
        .slick-track {
            margin: 0 auto;
        }
        a {
            margin-right: 0;
            padding: .7rem;
        }
    }
    .detail-title h2 {
        font-weight: 700;
        font-size: 1.5rem;
        text-transform: none;
    }
    .button-group .button {
        font-size: .8125rem;
        &:active,
        &:focus {
            background-color: #d40000;
        }
    }
    .available-sizes {
        font-weight: 500;
        p:last-child {
            border-bottom: 1px solid #cccccc;
            padding-bottom: 20px;
        }
    }
}
.detail-thumbs {
    p {
        line-height: 1;
        margin: .25rem;
    }
    .finish-name {
        font-size: .8rem;
        color: #505050;
    }
    img {
        -webkit-transition: -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
        &:hover {
            -webkit-transform: scale(1.08);
            -ms-transform: scale(1.08);
            transform: scale(1.08);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
    }
}

.wheel-gallery-figure {
    .mfp-title {
        padding-top: .5rem;
        padding-bottom: .75rem;
        text-align: center;
        color: #999;
        background: #fff;
    }
    h5,
    p {
        margin-bottom: 0;
    }
    .mfp-counter {
        top: .5rem;
        right: .5rem;
        color: #999;
    }
}

@media only screen and (min-width: 40.063em) {
    #detail-top .detail-title h2 {
        font-size: 25px;
    }
}

.displayVehicle {
    background-color: #ebebeb;
    padding: 2.5rem;
    .displayVehicle_content {
        max-width: 80rem;
        margin: 0 auto;
        text-align: left;
    }
    .displayVehicle_paragraph {
        display: inline-block;
        font-size: 2.5rem;
        line-height: 1;
        font-weight: 500;
        margin-bottom: 0;
        .displayVehicle_span {
            color: #6a6a6a;
        }
    }
    .displayVehicle_button {
        background-color: $secondary-color;
        float: right;
        margin-top: -0.5rem;
        padding: 1rem 1.2rem;
        font-size: 1.3rem;
    }
}

#wheel {
    /********** Wheel Stage **********/
    .main-image {
        margin-bottom: 0;
        img {
            margin: 0 auto;
        }
    }
    .alt-images {
        .slick-track {
            margin: 0 auto;
        }
        &--retailer {
            .slick-track {
                width: 100%!important;
                margin-top: 3rem;
            }
        }
        .slick-slide:focus {
            outline: 0;
        }
        a {
            margin-right: 0;
            padding: .7rem;
        }
        img {
            transition: transform .3s ease-in-out;
            &:hover {
                backface-visibility: hidden;
                transform: scale(1.08);
            }
        }
    }
    /********** Wheel Information **********/
    .wheel-info_header {
        font-size: 1.5rem;
    }
    .wheel-sizes {
        margin-top: 1rem;
        .wheel-sizes_title {
            font-size: 1rem;
            font-weight: 700;
        }
    }
    .wheel-price {
        font-size: 1.2rem;
        font-weight: 700;
    }
    /********** Wheel Call To Action **********/
    .wheel-cta {
        background: #f1f1f1;
        padding: 1rem 1.5rem;
        .button-group {
            margin: 0;
            li {
                margin-top: 1rem;
            }
            .button {
                width: 100%;
            }
        }
    }
    /********** Wheel Detail Configurator **********/
    #see-on-vehicle-detail {
        h5 {
            font-size: 1.5rem;
        }
        select {
            font-size: .875rem;
        }
        .error {
            display: none;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
        }
        .no-fitment {
            min-height: 6rem;
            position: relative;
            &::before {
                background: $white;
                content: '';
                bottom: 0;
                left: 0;
                right: 0;
                top: 0;
                opacity: .8;
                position: absolute;
                z-index: 1;
            }
            .error {
                display: block;
            }
        }
        .loadingImage {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: none;
        }
        .hover-item:hover {
            button {
                opacity: 1;
                transition: opacity .3s ease-in-out;
            }
            img {
                opacity: 0.075;
                transition: opacity .25s ease-in-out;
                -moz-transition: opacity .25s ease-in-out;
                -webkit-transition: opacity .25s ease-in-out;
            }
            &::before {
                opacity: .7;
            }
        }
        button {
            position: absolute;
            top: 40%;
            left: 0;
            padding: 1rem;
            width: 100%;
            font-size: 0.8rem;
            opacity: 0;
            &:hover {
                background-color: #666;
            }
        }
        &-overlay {
            width: 100%;
            height: 100%;
            display:table;
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            color: #fff;
            font-size: 50px;
            .fa-spinner {
                display:table-cell;
                vertical-align:middle;
                text-align:center;
            }
        }
    }
    /********** Wheel Detail Gallery **********/
    .wheel-gallery {
        &_header {
            font-size: 1rem;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.105;
        }
        ul {
            margin: 0;
        }
        li {
            list-style: none;
            float: left;
            width: 31%;
            height: auto;
            margin-right: 2%;
            margin-top: 0.5rem;
            .galleryImage {
                width: 190px;
                height: 102px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
        .wheel-galleryList:nth-child(n+7) {
            display: none;
        }
    }
}

.gallery-popup {
    display: table;
    margin: 0 auto;
    .galleryView-info {
        color: #ccc;
        font-size: 1.1rem;
        font-weight: 600;
        margin-top: 1rem;
    }
    .popup-car {
        font-weight: 900;
        font-size: 1.3rem;
        color: #fff;
    }
    .mfp-close {
        color: #fff;
        position: relative;
        float: right;
    }
}

@media #{$small-only} {
    #wheel {
        .wheel-gallery {
            &_header {
                margin-top: 1rem;
            }
            ul {
                margin-left: 0.5rem;
            }
            li {
                .galleryImage {
                    width: 95px;
                    height: 60px;
                }
            }
            span {
                font-size: 0.8rem;
            }
        }
    }
}

@media #{$medium-up} {
    :last-child > .accordion-content:last-child{
        padding: 0;
        border: 0;
        border-bottom: 0;
    }
    .alt-images--retailer {
        .slick-slide {
            width: 100%!important;
        }
    }
}

/* Additional Wheels - Fitment ///////////////////////////////////*/
.additional-fitment {
    border-top: 1px solid #cccccc;
    p {
        font-weight: 500;
        margin: 0px;
        padding: 10px;
    }
    p>a {
        text-transform: uppercase;
        font-size: 0.95rem;
    }
    h6 {
        font-size: 1rem;
        font-style: italic;
        font-weight: 500;
    }
}

/* Technical specifications ///////////////////////////////////*/
.spec-size-tabs {
    background-color: #ffffff;
}
.tabs-title>a {
    background-color: #f0f0f0;
    color: #989898;
    text-align: center;
    font-size: 1.2rem;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    &:hover {
        background-color: #515151;
        color: #fefefe;
    }
    &:focus,
    &[aria-selected=true] {
        background-color: #707070;
        color: #fefefe;
    }
}

/* ==========================================================================
   5.1 Tire Detail Page
   ========================================================================== */

.brand-details_header {
    font-size: 2.5rem;
}

#tire {
    /********** Tire Detail Call To Action **********/
    .wheel-details {
        background: #f1f1f1;
        padding: 1rem 1.5rem;
        .black-font {
            margin-bottom: 1rem;
        }
        .wheel-paragraph {
            font-size: 1rem;
            font-weight: bold;
            text-align: left;
            margin-bottom: 1rem;
            span {
                font-size: 1.2rem;
            }
        }
        .button-group {
            margin: 0;
            list-style: none;
            li {
                margin-top: 1rem;
            }
            .button {
                width: 100%;
            }
        }
        .button_fitment {
            background-color: #ff7a01;
        }
    }
    /********** Tire-Info **********/
    .tire-info .tire-info_header {
        font-size: 1.5rem;
    }

    /********** Tire-cta **********/
    .tire-cta {
        background: #f1f1f1;
        padding: 1rem 1.5rem;
        .button-group {
            margin: 0;
            li {
                margin-top: 1rem;
            }
            .button {
                width: 100%;
            }
        }
    }
}
/* ==========================================================================
   6.1 Gallery Header
   ========================================================================== */

#gallery-header {
    margin-bottom: 2rem;
    .accordion-title {
        font-size: 1.1rem;
        color: $primary-color;
    }
}

/* ==========================================================================
   6.2 Gallery Landing Page
   ========================================================================== */

#gallery {
    .hover-list {
        .photo {
            position: relative;
            display: block;
            padding: 0 1px 1px 0;
            &:before {
                position: absolute;
                z-index: 1;
                display: block;
                width: 100%;
                height: 100%;
                content: '';
                -webkit-transition-timing-function: linear;
                transition-timing-function: linear;
                -webkit-transition-duration: .3s;
                transition-duration: .3s;
                -webkit-transition-property: all;
                transition-property: all;
                background: rgba(255, 255, 255, 0);
            }
            &:after {
                font-size: 1.1rem;
                position: absolute;
                z-index: 2;
                top: 50%;
                display: block;
                width: 90%;
                margin: -1em 5% 0;
                padding-bottom: 2em;
                content: attr(title);
                -webkit-transition-timing-function: linear;
                transition-timing-function: linear;
                -webkit-transition-duration: .2s;
                transition-duration: .2s;
                -webkit-transition-property: all;
                transition-property: all;
                text-align: center;
                letter-spacing: 1px;
                text-transform: uppercase;
                opacity: 0;
                color: #d40000;
                filter: alpha(opacity=0);
            }
            &:hover:before {
                background: rgba(255, 255, 255, .9);
            }
            &:hover:after {
                opacity: 1;
            }
        }
        .video:after {
            font-weight: 300;
            color: #fefefe;
        }
        .video:hover:before {
            background: rgba(223, 61, 61, .9);
        }
    }
}

/* ==========================================================================
   6.3 Gallery Detail Page
   ========================================================================== */

#gallery-main-image {
    img {
        width: 100%;
    }
    .slick-prev:before,
    .slick-next:before {
        font-family: 'FontAwesome';
        font-size: 24px;
        opacity: 1;
    }
    .slick-prev:before {
        content: '\f053';
    }
    .slick-next:before {
        content: '\f054';
    }
}

#gallery-details {
    margin-bottom: 2rem;
}

/* ==========================================================================
   7.1 Home Page
   ========================================================================== */

.hp-btn-links a {
    background-color: #d40000;
    color: #ffffff;
    max-width: 210px;
    font-weight: 900;
    display: block;
    border-radius: 25px;
    min-height: 50px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
}



.hp-hero .row,
.hp-featured .row {
    max-width: none;
}

@media screen and (max-width:480px) {
    .hp-btn-links a {
        margin: 0 auto;
    }
}


/* Hero */

.hp-hero {
    background: url('/images/hero5.jpg') bottom center no-repeat;
	height:344px;
	background-size:cover;
	@include breakpoint (small only) {
		height:255px;
		background-position:52% 0;
	}
}


/* Packages */
.hp-packages {
	min-height:600px;
	position: relative;
	z-index:10;
	top:-140px;
	.hp-package-image {
		@include breakpoint (small only) {
			position:relative;
			img {
				position:relative;
				top:1.5rem;
			}	
		}
	}
	.hp-package-info {
		background-color:$white;
		padding-top:26px;
		padding-bottom:26px;
		p {
			margin-bottom:0;
			span {
				color:$dark-gray;
				font-weight:500;
			}
		}
	}
	.hp-package-title, .hp-package-models {
		padding-left:26px;
		padding-right:26px;
	}
	.hp-package-title {
		border-bottom:1px solid $white-blue;
		h1 {
			color:#cc0000;
			font-weight:500;
		}
	}
	.hp-package-models {
		padding-top:1rem;
	}
	.hp-package-button {
		display:flex;
		justify-content: flex-end;
		align-items: flex-end;
      a {
        margin:0 auto;
      }
	}
}



/* ==========================================================================
   7.2 Contact Page
   ========================================================================== */

#contact p,
#thanks p,
#contact li,
#thanks li,
#gallery p,
#gallery li {
    color: #999999;
    font-weight: 400;
    padding-top: 0px;
}

#contact h3,
#thanks h3,
#gallery h3 {
    font-size: 2rem;
    margin-bottom: 0px;
}

#contact p.red {
    color: #d40000;
    font-size: 1rem;
    font-weight: 600;
}

#form-right {
    li {
        padding-top: .25rem;
        padding-bottom: .25rem;
    }
    .fa {
        font-size: 2.25rem;
    }
    h3 {
        font-size: 1.6rem;
        letter-spacing: -1px;
    }
    address {
        margin-bottom: 20px;
    }
}

/* ==========================================================================
   7.2 Detail Page
   ========================================================================== */
@import 'details';