/* 0, 640px */
/* 641px, 1024px */
/* 1025px, 1440px */
/* 1441px, 1920px */
/* 1921px, ... */
/**
 * Foundation for Sites by ZURB
 * Version 6.2.3
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
/* ==========================================================================
   Table of Contents
   ========================================================================== */
/*
    1.   General
    2.   Header
    3.   Footer
    4.   Home Page    
    ---  Wheel Pages  ---
    5.1  Wheel Brands Page
    5.2  Wheels Display Page
    5.3  Wheel Detail Page
    ---  Tire Pages   ---
    6.1  Tire Brands Page
    6.2  Tires Display Page
    6.3  Tire Detail Page
    ---  Accessory Pages   ---
    7.1  Accessory Brands Page
    7.2  Accessories Display Page
    7.2  Accessory Detail Page
    ---  Gallery Pages  ---
    8.1  Gallery Header
    8.2  Gallery Landing Page
    8.3  Gallery Detail Page
    ---  Other Pages  ---
    9.   Contact Page
    10.  Dealers Page
    11.  News Pages
    12.  Configurator Page
*/
/* ==========================================================================
   1. General (Foundation Overrides)
   ========================================================================== */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

body {
  font-weight: 400;
  background-color: #edf0f5;
  color: #666666; }

h1 {
  font-size: 2rem;
  font-weight: 700; }

h2 {
  font-size: 1.85rem;
  font-weight: 900; }

/*h1,
h2,
h3 {
    color: #000000;
    text-transform: uppercase;
    line-height: 1;
}

h4,
h5,
h6 {
    font-weight: 700;
    letter-spacing: -1px;
}

h1 {
    font-size: 5.44rem;
}

h2 {
    font-size: 4.18rem;
}

h3 {
    font-size: 3.1rem;
}

h5 {
    font-size: 2.09rem;
}

h6 {
    font-size: 1.15rem;
}

.h1 {
    font-size: 1.5rem;
}

.h2 {
    font-size: 1.8rem;
    font-weight: 700;
}*/
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: #999; }

p,
a {
  font-size: 1.1rem; }

a {
  color: #d40000; }
  a:hover {
    color: #666666; }

ul, ol {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  list-style: none; }

li:before {
  content: '\f111';
  font-family: 'FontAwesome';
  color: #cc0000;
  font-size: .01rem;
  margin-right: 1rem;
  vertical-align: middle; }

table {
  min-width: 100%;
  margin-bottom: 0;
  border: 0; }

table tr td,
table thead tr th {
  text-align: center; }

table thead tr th {
  color: #fefefe;
  background: #707070; }

.bg-img {
  background-color: #333;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.hidden {
  display: none; }

.product-paragraph {
  color: #000;
  margin-bottom: 0.5rem;
  text-align: left;
  margin-right: 1rem; }

.info--limit {
  line-height: 1.2em;
  overflow: hidden;
  margin-bottom: 0; }
.info--height {
  height: 6em; }

.primary {
  color: #cc0000; }

.primary-bg {
  background-color: #cc0000; }

.red-bg {
  background-color: #d40000; }

.black-font {
  color: #333; }

.red {
  color: #d40000; }

.white {
  color: #fefefe; }

.button {
  max-width: 150px;
  width: 100%;
  background-color: #333333;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: 0; }

.button:hover {
  background-color: #cc0000; }

.button:focus {
  background-color: #666666; }

.no-margin {
  margin-bottom: 0; }

.button.secondary {
  background-color: #e7e7e7;
  color: #323232; }

.black,
.button.black {
  background-color: #000000; }

.text-uppercase {
  text-transform: uppercase; }

.button-group .button {
  padding-right: 0;
  padding-left: 0; }

.font-light {
  font-weight: 300; }

.font-normal {
  font-weight: 400; }

.font-bold {
  font-weight: 700; }

.font-heavy {
  font-weight: 900; }

.font-italic {
  font-style: italic; }

.g-recaptcha {
  margin-bottom: 0.5rem;
  display: inline-block; }

#captchaCheck {
  float: left;
  margin-left: 1rem;
  text-transform: uppercase; }

.padded {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.padded.extra {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.padded.short {
  padding-top: .5rem;
  padding-bottom: .5rem; }

.padded-left {
  padding-left: .5rem; }

.padded-right {
  padding-right: .5rem; }

.accordion .accordion-navigation > .content {
  padding-right: 0;
  padding-left: 0; }

.accordion-item:first-child > :first-child {
  font-weight: 700; }

.anchor {
  position: relative;
  top: -3rem;
  display: block;
  visibility: hidden; }

.full-width {
  width: 100%;
  max-width: 100%; }

.menu.simple > li > a {
  padding: 0; }

.menu > li:not(.menu-text) > a {
  padding: 1rem; }

.fixed {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%; }

.title-bar,
.top-bar {
  padding: 0; }

.top-bar,
.top-bar ul {
  background-color: transparent; }

.top-bar ul.is-dropdown-submenu {
  background-color: black;
  border: 0px; }

.dropdown.menu .is-dropdown-submenu-parent.is-down-arrow > a::after {
  right: 0px; }

.dropdown.menu > li.is-dropdown-submenu-parent > a {
  padding-right: 1rem; }

.dropdown.menu > li.is-dropdown-submenu-parent > a:after {
  border-color: #d40000 transparent transparent;
  right: 0px;
  display: none; }

.dropdown.menu.vertical > li.opens-right > a::after {
  border-color: transparent transparent transparent #d40000;
  right: 5px; }

.dropdown.menu > li > a:hover,
.dropdown.menu > li > ul li a:hover,
.dropdown.menu > li.is-active > a {
  color: #d40000; }

.dropdown.menu > li > ul li a {
  padding: 1rem 2rem; }

.dropdown.menu > li.opens-right > .is-dropdown-submenu {
  top: 154%;
  min-width: 280px;
  padding-bottom: 20px; }

.int.site-content h1 {
  font-weight: 900;
  font-size: 3.75rem; }
.int.site-content .h2 {
  font-size: 1.5rem;
  font-weight: 300; }

address {
  font-style: normal; }

#instafeed .column {
  padding: 1px; }

@media only screen and (min-width: 40.063em) {
  .int.site-content .h2 {
    font-size: 2.6rem; } }
/********* VIDEO *********/
#videos {
  margin-top: 3rem; }
  #videos a:hover {
    color: #666; }
  #videos a::before {
    background: rgba(255, 255, 255, 0); }
  #videos p {
    font-size: 1.6rem; }
  #videos #next-button {
    background-color: #fff; }
  #videos #video-container .column a {
    position: relative;
    display: block; }

.fa-youtube-play {
  display: block;
  color: #ff4747;
  position: absolute;
  top: 33%;
  width: 100%; }

/*/////////// Equalizer /////////////*/
@media screen and (min-width: 40em) {
  .equalize-small-only {
    height: auto !important; } }
/* ==========================================================================
   2. Header
   ========================================================================== */
header {
  background-color: #ffffff;
  padding-left: .625rem;
  padding-right: .625rem; }
  header .top-bar {
    padding: 21px 0; }
    header .top-bar a {
      font-size: 1.4rem;
      font-weight: 700;
      color: #ffffff;
      text-transform: uppercase; }
    header .top-bar .top-bar-left {
      padding: 8px 0;
      padding-right: 2%; }
    header .top-bar .hp-btn-links a {
      font-size: 1.2rem;
      padding-left: 1.8rem;
      padding-right: 1.8rem;
      margin-left: 8px; }
  header .top-bar-title {
    display: inline-grid;
    width: 100%;
    margin-right: 0;
    color: #333333; }
    header .top-bar-title img {
      max-width: 200px; }
  header .header-subtitle, header .header-logo {
    display: flex;
    grid-row-start: 2; }
  header .header-subtitle {
    align-items: flex-end;
    justify-content: flex-start; }
    header .header-subtitle h2 {
      margin-bottom: 0; }
  header .header-logo {
    /*        width: 200px;
            position: relative;
            height: 1px;
            top: -16px;
            a {
                position: absolute;
                z-index: 10;
            }*/
    align-items: center;
    justify-content: flex-end; }
    header .header-logo a {
      text-align: right; }
      @media screen and (max-width: 39.9375em) {
        header .header-logo a img {
          width: 90%; } }

/* ==========================================================================
   3. Footer
   ========================================================================== */
footer {
  color: #333333;
  margin-top: 3rem;
  margin-bottom: 2rem; }
  footer .ft-top {
    font-weight: 500; }
    footer .ft-top a {
      color: #333333; }
  footer .ft-bottom .divider {
    padding: 0 25px; }
  footer .ft-bottom p,
  footer .ft-bottom .divider {
    display: inline-block; }
  footer .ft-bottom {
    font-weight: 500;
    color: #ffffff;
    background: #333333;
    text-align: center; }
    footer .ft-bottom a {
      color: #ffffff; }
    footer .ft-bottom > div > div {
      display: flex;
      align-items: center;
      justify-content: center; }
      @media screen and (max-width: 39.9375em) {
        footer .ft-bottom > div > div {
          padding-bottom: 1rem; } }
      footer .ft-bottom > div > div:first-child {
        justify-content: flex-start; }
        @media screen and (max-width: 39.9375em) {
          footer .ft-bottom > div > div:first-child {
            justify-content: center; } }
      footer .ft-bottom > div > div:last-child {
        justify-content: flex-end; }
        @media screen and (max-width: 39.9375em) {
          footer .ft-bottom > div > div:last-child {
            justify-content: center; } }
    footer .ft-bottom p {
      line-height: 7.18rem; }
    footer .ft-bottom .ft-company {
      padding-top: .5rem;
      padding-bottom: .5rem; }

@media screen and (max-width: 480px) {
  footer .ft-bottom {
    text-align: center;
    padding: 10px 0; }
    footer .ft-bottom .divider {
      display: none; }
    footer .ft-bottom p {
      line-height: 1rem;
      font-size: .78rem;
      margin-bottom: 0; }
      footer .ft-bottom p span {
        font-size: .9rem; } }
/* ==========================================================================
   4.1 Brands Listing Pages
   ========================================================================== */
#wheel-brands .filters {
  background-color: #3f4851; }
  #wheel-brands .filters h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    padding: 30px 0;
    text-transform: uppercase; }
#wheel-brands .filter_select {
  background: #3f4851;
  padding: 1.5rem .8rem .8rem; }
  #wheel-brands .filter_select select {
    text-transform: uppercase;
    background-color: #e1e1e1;
    font-weight: 500; }
#wheel-brands .filter_button {
  background-color: #e1e1e1;
  color: #000;
  font-weight: 500;
  max-height: 2.45rem;
  width: 100%; }

#wheels .filters {
  background-color: #3f4851; }
  #wheels .filters h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    padding: 30px 0;
    text-transform: uppercase; }
#wheels .filter_select {
  background: #3f4851;
  padding: 1.5rem .8rem .8rem; }
  #wheels .filter_select select {
    text-transform: uppercase;
    background-color: #e1e1e1;
    font-weight: 500; }
#wheels .filter_button {
  background-color: #e1e1e1;
  color: #000;
  font-weight: 500;
  max-height: 2.45rem;
  width: 100%; }

/* ==========================================================================
   4.1 Brands Pages
   ========================================================================== */
.brand-container {
  padding-bottom: 4rem; }

.products-list li {
  padding-top: .75rem; }

.products-list li a,
.products-list > div a {
  display: block;
  padding: 1rem 0; }

.hover-item,
.hover-item .fitment-quickview {
  position: relative;
  display: block;
  -webkit-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out;
  text-align: center; }

.hover-item:hover {
  border-color: #ccc; }
  .hover-item:hover img {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .hover-item:hover .sizes,
  .hover-item:hover .fitment-quickview {
    top: auto; }
  .hover-item:hover .sizes {
    opacity: 1; }
.hover-item .info,
.hover-item .fitment-quickview {
  position: relative;
  margin-top: -1rem;
  padding: 1rem 0;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
  background-color: transparent; }
.hover-item .sizes,
.hover-item .fitment-quickview {
  font-size: .8125rem;
  position: absolute;
  top: 100%;
  bottom: 10rem;
  width: 100%;
  -webkit-transition: top .3s ease-in-out;
  transition: top .3s ease-in-out;
  color: #fefefe; }
.hover-item .sizes {
  font-size: inherit;
  position: static;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  font-size: 1.4rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #d40000;
  opacity: 0; }
  .hover-item .sizes a {
    color: #000000;
    font-weight: 700;
    font-size: 1.4em; }
.hover-item h6 {
  line-height: 1.2;
  margin-bottom: 0;
  font-size: 1.2rem; }
.hover-item h6,
.hover-item h6 small {
  color: #545454;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out; }
.hover-item img {
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out; }

.parallax {
  position: relative;
  overflow: hidden;
  margin-bottom: 1.5rem;
  text-align: center; }
  .parallax h1,
  .parallax h2 {
    position: relative;
    padding: 1.8rem; }
  .parallax h1 {
    letter-spacing: 0; }
    .parallax h1 img {
      padding-bottom: 1rem; }
  .parallax .img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .parallax .bg-top {
    background-position: center top; }
  .parallax .img:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    opacity: .4;
    background: #000; }

/* wheel header filter */
.product-filter {
  text-align: center;
  padding-top: 30px; }
  .product-filter h5 {
    background-color: transparent;
    font-size: 1.1rem;
    padding: 30px 0; }

#wheel-search .filter-menu {
  display: inline-block;
  padding: 0 5px; }

/* wheel fitment guide header */
.wheels-with-fitment-pg {
  margin-bottom: 0; }

.selected-vehicle-container {
  text-align: center;
  background-color: #e0e0e0;
  color: #000000;
  padding: 25px;
  margin-bottom: 1.5rem; }
  .selected-vehicle-container .selected-vehicle-header {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: -1px; }
  .selected-vehicle-container .selected-vehicle-link {
    display: inline-block;
    padding: 0px 5px;
    font-weight: 400; }

@media only screen and (min-width: 40rem) {
  .products-list h2 {
    font-size: 2rem; }

  .parallax h1.padded {
    padding: 2.7rem; } }
/* ==========================================================================
   4.2 Detail Pages
   ========================================================================== */
#tech-specs {
  position: relative;
  top: -6.6rem;
  display: block;
  visibility: hidden; }

#detail-top p {
  font-size: 1rem; }
#detail-top .menu.simple > li {
  display: inline-block; }
#detail-top .images {
  position: relative; }
#detail-top .main-image {
  margin-bottom: 0; }
#detail-top .alt-images .slick-track {
  margin: 0 auto; }
#detail-top .alt-images a {
  margin-right: 0;
  padding: .7rem; }
#detail-top .detail-title h2 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: none; }
#detail-top .button-group .button {
  font-size: .8125rem; }
  #detail-top .button-group .button:active, #detail-top .button-group .button:focus {
    background-color: #d40000; }
#detail-top .available-sizes {
  font-weight: 500; }
  #detail-top .available-sizes p:last-child {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 20px; }

.detail-thumbs p {
  line-height: 1;
  margin: .25rem; }
.detail-thumbs .finish-name {
  font-size: .8rem;
  color: #505050; }
.detail-thumbs img {
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out; }
  .detail-thumbs img:hover {
    -webkit-transform: scale(1.08);
    -ms-transform: scale(1.08);
    transform: scale(1.08);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }

.wheel-gallery-figure .mfp-title {
  padding-top: .5rem;
  padding-bottom: .75rem;
  text-align: center;
  color: #999;
  background: #fff; }
.wheel-gallery-figure h5,
.wheel-gallery-figure p {
  margin-bottom: 0; }
.wheel-gallery-figure .mfp-counter {
  top: .5rem;
  right: .5rem;
  color: #999; }

@media only screen and (min-width: 40.063em) {
  #detail-top .detail-title h2 {
    font-size: 25px; } }
.displayVehicle {
  background-color: #ebebeb;
  padding: 2.5rem; }
  .displayVehicle .displayVehicle_content {
    max-width: 80rem;
    margin: 0 auto;
    text-align: left; }
  .displayVehicle .displayVehicle_paragraph {
    display: inline-block;
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 0; }
    .displayVehicle .displayVehicle_paragraph .displayVehicle_span {
      color: #6a6a6a; }
  .displayVehicle .displayVehicle_button {
    background-color: #AFD812;
    float: right;
    margin-top: -0.5rem;
    padding: 1rem 1.2rem;
    font-size: 1.3rem; }

#wheel {
  /********** Wheel Stage **********/
  /********** Wheel Information **********/
  /********** Wheel Call To Action **********/
  /********** Wheel Detail Configurator **********/
  /********** Wheel Detail Gallery **********/ }
  #wheel .main-image {
    margin-bottom: 0; }
    #wheel .main-image img {
      margin: 0 auto; }
  #wheel .alt-images .slick-track {
    margin: 0 auto; }
  #wheel .alt-images--retailer .slick-track {
    width: 100% !important;
    margin-top: 3rem; }
  #wheel .alt-images .slick-slide:focus {
    outline: 0; }
  #wheel .alt-images a {
    margin-right: 0;
    padding: .7rem; }
  #wheel .alt-images img {
    transition: transform .3s ease-in-out; }
    #wheel .alt-images img:hover {
      backface-visibility: hidden;
      transform: scale(1.08); }
  #wheel .wheel-info_header {
    font-size: 1.5rem; }
  #wheel .wheel-sizes {
    margin-top: 1rem; }
    #wheel .wheel-sizes .wheel-sizes_title {
      font-size: 1rem;
      font-weight: 700; }
  #wheel .wheel-price {
    font-size: 1.2rem;
    font-weight: 700; }
  #wheel .wheel-cta {
    background: #f1f1f1;
    padding: 1rem 1.5rem; }
    #wheel .wheel-cta .button-group {
      margin: 0; }
      #wheel .wheel-cta .button-group li {
        margin-top: 1rem; }
      #wheel .wheel-cta .button-group .button {
        width: 100%; }
  #wheel #see-on-vehicle-detail h5 {
    font-size: 1.5rem; }
  #wheel #see-on-vehicle-detail select {
    font-size: .875rem; }
  #wheel #see-on-vehicle-detail .error {
    display: none;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; }
  #wheel #see-on-vehicle-detail .no-fitment {
    min-height: 6rem;
    position: relative; }
    #wheel #see-on-vehicle-detail .no-fitment::before {
      background: #ffffff;
      content: '';
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      opacity: .8;
      position: absolute;
      z-index: 1; }
    #wheel #see-on-vehicle-detail .no-fitment .error {
      display: block; }
  #wheel #see-on-vehicle-detail .loadingImage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none; }
  #wheel #see-on-vehicle-detail .hover-item:hover button {
    opacity: 1;
    transition: opacity .3s ease-in-out; }
  #wheel #see-on-vehicle-detail .hover-item:hover img {
    opacity: 0.075;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out; }
  #wheel #see-on-vehicle-detail .hover-item:hover::before {
    opacity: .7; }
  #wheel #see-on-vehicle-detail button {
    position: absolute;
    top: 40%;
    left: 0;
    padding: 1rem;
    width: 100%;
    font-size: 0.8rem;
    opacity: 0; }
    #wheel #see-on-vehicle-detail button:hover {
      background-color: #666; }
  #wheel #see-on-vehicle-detail-overlay {
    width: 100%;
    height: 100%;
    display: table;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    color: #fff;
    font-size: 50px; }
    #wheel #see-on-vehicle-detail-overlay .fa-spinner {
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
  #wheel .wheel-gallery_header {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.105; }
  #wheel .wheel-gallery ul {
    margin: 0; }
  #wheel .wheel-gallery li {
    list-style: none;
    float: left;
    width: 31%;
    height: auto;
    margin-right: 2%;
    margin-top: 0.5rem; }
    #wheel .wheel-gallery li .galleryImage {
      width: 190px;
      height: 102px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center; }
  #wheel .wheel-gallery .wheel-galleryList:nth-child(n+7) {
    display: none; }

.gallery-popup {
  display: table;
  margin: 0 auto; }
  .gallery-popup .galleryView-info {
    color: #ccc;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 1rem; }
  .gallery-popup .popup-car {
    font-weight: 900;
    font-size: 1.3rem;
    color: #fff; }
  .gallery-popup .mfp-close {
    color: #fff;
    position: relative;
    float: right; }

@media screen and (max-width: 39.9375em) {
  #wheel .wheel-gallery_header {
    margin-top: 1rem; }
  #wheel .wheel-gallery ul {
    margin-left: 0.5rem; }
  #wheel .wheel-gallery li .galleryImage {
    width: 95px;
    height: 60px; }
  #wheel .wheel-gallery span {
    font-size: 0.8rem; } }
@media screen and (min-width: 40em) {
  :last-child > .accordion-content:last-child {
    padding: 0;
    border: 0;
    border-bottom: 0; }

  .alt-images--retailer .slick-slide {
    width: 100% !important; } }
/* Additional Wheels - Fitment ///////////////////////////////////*/
.additional-fitment {
  border-top: 1px solid #cccccc; }
  .additional-fitment p {
    font-weight: 500;
    margin: 0px;
    padding: 10px; }
  .additional-fitment p > a {
    text-transform: uppercase;
    font-size: 0.95rem; }
  .additional-fitment h6 {
    font-size: 1rem;
    font-style: italic;
    font-weight: 500; }

/* Technical specifications ///////////////////////////////////*/
.spec-size-tabs {
  background-color: #ffffff; }

.tabs-title > a {
  background-color: #f0f0f0;
  color: #989898;
  text-align: center;
  font-size: 1.2rem;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff; }
  .tabs-title > a:hover {
    background-color: #515151;
    color: #fefefe; }
  .tabs-title > a:focus, .tabs-title > a[aria-selected=true] {
    background-color: #707070;
    color: #fefefe; }

/* ==========================================================================
   5.1 Tire Detail Page
   ========================================================================== */
.brand-details_header {
  font-size: 2.5rem; }

#tire {
  /********** Tire Detail Call To Action **********/
  /********** Tire-Info **********/
  /********** Tire-cta **********/ }
  #tire .wheel-details {
    background: #f1f1f1;
    padding: 1rem 1.5rem; }
    #tire .wheel-details .black-font {
      margin-bottom: 1rem; }
    #tire .wheel-details .wheel-paragraph {
      font-size: 1rem;
      font-weight: bold;
      text-align: left;
      margin-bottom: 1rem; }
      #tire .wheel-details .wheel-paragraph span {
        font-size: 1.2rem; }
    #tire .wheel-details .button-group {
      margin: 0;
      list-style: none; }
      #tire .wheel-details .button-group li {
        margin-top: 1rem; }
      #tire .wheel-details .button-group .button {
        width: 100%; }
    #tire .wheel-details .button_fitment {
      background-color: #ff7a01; }
  #tire .tire-info .tire-info_header {
    font-size: 1.5rem; }
  #tire .tire-cta {
    background: #f1f1f1;
    padding: 1rem 1.5rem; }
    #tire .tire-cta .button-group {
      margin: 0; }
      #tire .tire-cta .button-group li {
        margin-top: 1rem; }
      #tire .tire-cta .button-group .button {
        width: 100%; }

/* ==========================================================================
   6.1 Gallery Header
   ========================================================================== */
#gallery-header {
  margin-bottom: 2rem; }
  #gallery-header .accordion-title {
    font-size: 1.1rem;
    color: #cc0000; }

/* ==========================================================================
   6.2 Gallery Landing Page
   ========================================================================== */
#gallery .hover-list .photo {
  position: relative;
  display: block;
  padding: 0 1px 1px 0; }
  #gallery .hover-list .photo:before {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: all;
    transition-property: all;
    background: rgba(255, 255, 255, 0); }
  #gallery .hover-list .photo:after {
    font-size: 1.1rem;
    position: absolute;
    z-index: 2;
    top: 50%;
    display: block;
    width: 90%;
    margin: -1em 5% 0;
    padding-bottom: 2em;
    content: attr(title);
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: all;
    transition-property: all;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0;
    color: #d40000;
    filter: alpha(opacity=0); }
  #gallery .hover-list .photo:hover:before {
    background: rgba(255, 255, 255, 0.9); }
  #gallery .hover-list .photo:hover:after {
    opacity: 1; }
#gallery .hover-list .video:after {
  font-weight: 300;
  color: #fefefe; }
#gallery .hover-list .video:hover:before {
  background: rgba(223, 61, 61, 0.9); }

/* ==========================================================================
   6.3 Gallery Detail Page
   ========================================================================== */
#gallery-main-image img {
  width: 100%; }
#gallery-main-image .slick-prev:before,
#gallery-main-image .slick-next:before {
  font-family: 'FontAwesome';
  font-size: 24px;
  opacity: 1; }
#gallery-main-image .slick-prev:before {
  content: '\f053'; }
#gallery-main-image .slick-next:before {
  content: '\f054'; }

#gallery-details {
  margin-bottom: 2rem; }

/* ==========================================================================
   7.1 Home Page
   ========================================================================== */
.hp-btn-links a {
  background-color: #d40000;
  color: #ffffff;
  max-width: 210px;
  font-weight: 900;
  display: block;
  border-radius: 25px;
  min-height: 50px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem; }

.hp-hero .row,
.hp-featured .row {
  max-width: none; }

@media screen and (max-width: 480px) {
  .hp-btn-links a {
    margin: 0 auto; } }
/* Hero */
.hp-hero {
  background: url("/images/hero4.jpg") bottom center no-repeat;
  height: 344px;
  background-size: cover; }
  @media screen and (max-width: 39.9375em) {
    .hp-hero {
      height: 255px;
      background-position: 52% 0; } }

/* Packages */
.hp-packages {
  min-height: 600px;
  position: relative;
  z-index: 10;
  top: -140px; }
  @media screen and (max-width: 39.9375em) {
    .hp-packages .hp-package-image {
      position: relative; }
      .hp-packages .hp-package-image img {
        position: relative;
        top: 1.5rem; } }
  .hp-packages .hp-package-info {
    background-color: #ffffff;
    padding-top: 26px;
    padding-bottom: 26px; }
    .hp-packages .hp-package-info p {
      margin-bottom: 0; }
      .hp-packages .hp-package-info p span {
        color: #333333;
        font-weight: 500; }
  .hp-packages .hp-package-title, .hp-packages .hp-package-models {
    padding-left: 26px;
    padding-right: 26px; }
  .hp-packages .hp-package-title {
    border-bottom: 1px solid #edf0f5; }
    .hp-packages .hp-package-title h1 {
      color: #cc0000;
      font-weight: 500; }
  .hp-packages .hp-package-models {
    padding-top: 1rem; }
  .hp-packages .hp-package-button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; }

/* ==========================================================================
   7.2 Contact Page
   ========================================================================== */
#contact p,
#thanks p,
#contact li,
#thanks li,
#gallery p,
#gallery li {
  color: #999999;
  font-weight: 400;
  padding-top: 0px; }

#contact h3,
#thanks h3,
#gallery h3 {
  font-size: 2rem;
  margin-bottom: 0px; }

#contact p.red {
  color: #d40000;
  font-size: 1rem;
  font-weight: 600; }

#form-right li {
  padding-top: .25rem;
  padding-bottom: .25rem; }
#form-right .fa {
  font-size: 2.25rem; }
#form-right h3 {
  font-size: 1.6rem;
  letter-spacing: -1px; }
#form-right address {
  margin-bottom: 20px; }

/* ==========================================================================
   7.2 Detail Page
   ========================================================================== */
/*//////// Package Header //////////////*/
.package-header h1 {
  font-weight: 300;
  font-size: 3rem; }
.package-header .package-header-title {
  min-height: 240px;
  display: flex;
  align-items: center; }
.package-header .package-header-image {
  position: relative;
  background-color: #ffffff;
  border-top: 1px solid #aaaaaa;
  height: 125px;
  display: flex;
  justify-content: center; }
  .package-header .package-header-image img {
    position: absolute;
    top: -275px; }

/*/////// Package Menu //////////////////*/
.package-menu {
  background-color: #333333; }
  @media screen and (max-width: 39.9375em) {
    .package-menu {
      background-color: transparent; } }
  .package-menu .menu-container {
    background-color: #333333; }
  .package-menu ul {
    list-style: none;
    margin: 0;
    display: table;
    width: 100%;
    table-layout: fixed; }
    .package-menu ul li {
      display: table-cell;
      text-align: center; }
      .package-menu ul li:before {
        content: '';
        margin: 0; }
      .package-menu ul li:first-child a {
        border-left: 1px solid #edf0f5;
        color: #6699ff; }
      .package-menu ul li:nth-child(2) a {
        background-color: #edf0f5;
        color: #333333; }
        @media screen and (max-width: 39.9375em) {
          .package-menu ul li:nth-child(2) a {
            border-top: 5px solid #edf0f5; } }
      .package-menu ul li a {
        text-transform: capitalize;
        color: #ffffff;
        display: block;
        width: 100%;
        font-weight: 500;
        border-right: 1px solid #edf0f5;
        font-size: 1.25rem;
        padding-top: 20px;
        padding-bottom: 20px; }
        .package-menu ul li a:hover {
          background-color: #cc0000;
          color: #ffffff; }
        @media screen and (max-width: 39.9375em) {
          .package-menu ul li a {
            font-size: 1rem;
            border-top: 5px solid #cc0000; } }
  .package-menu .menu-help {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 300; }
    @media screen and (max-width: 39.9375em) {
      .package-menu .menu-help {
        justify-content: center;
        color: #333333; } }
  .package-menu .menu-title {
    display: flex;
    justify-content: center;
    color: #333333; }
    .package-menu .menu-title h1 {
      font-size: 2.75rem;
      font-weight: 300;
      margin-bottom: 0; }

/*/////// Packages Section //////////////*/
.packages {
  padding-top: 40px;
  padding-bottom: 25px; }
  @media screen and (max-width: 39.9375em) {
    .packages {
      padding-top: 1rem; } }
  .packages h2 {
    font-weight: 500; }
  .packages .package {
    background-color: #ffffff;
    border: 1px solid #aaaaaa;
    position: relative; }
    @media screen and (max-width: 39.9375em) {
      .packages .package {
        margin-top: 8rem;
        border: 0; } }
    .packages .package .package-button-container {
      display: flex;
      justify-content: center;
      position: relative;
      margin-top: -12px;
      width: 100%;
      /*/// vehicle image replaces button on mobile ///*/ }
      @media screen and (max-width: 39.9375em) {
        .packages .package .package-button-container {
          top: -120px;
          margin-top: 0;
          position: absolute; } }
      .packages .package .package-button-container .button {
        max-width: 200px; }
      .packages .package .package-button-container img {
        height: 100%;
        width: 100%; }
    .packages .package .package-header {
      border-bottom: 1px solid #aaaaaa;
      display: flex;
      width: 100%;
      padding: 2.2rem 1.25rem 1rem; }
      @media screen and (max-width: 39.9375em) {
        .packages .package .package-header {
          padding-top: 4rem; } }
      .packages .package .package-header > div {
        width: 100%; }
      .packages .package .package-header .package-price {
        text-align: right; }
        .packages .package .package-header .package-price h2 {
          margin-bottom: 0; }
        .packages .package .package-header .package-price small {
          position: relative;
          top: -8px;
          font-weight: 500; }
    .packages .package .package-contents {
      padding: 1rem 1.25rem 2rem; }
      .packages .package .package-contents .package-contents-list {
        display: block; }
        @media screen and (max-width: 39.9375em) {
          .packages .package .package-contents .package-contents-list {
            display: none; } }
    .packages .package .package-links {
      padding: 1rem 1.25rem 2rem; }
      .packages .package .package-links .button {
        max-width: none;
        width: 50%; }
        @media screen and (max-width: 39.9375em) {
          .packages .package .package-links .button {
            width: 100%; } }
    .packages .package.active {
      border: 2px solid #cc0000; }
      .packages .package.active .package-button {
        background-color: #cc0000; }

/*/////// Packages Slider //////////////*/
.package-slider .package-slider-header {
  background-color: #cc0000;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 8px;
  font-size: 1.25rem;
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 5px; }
.package-slider .package-slider-image {
  background-color: #ffffff; }
  .package-slider .package-slider-image img {
    margin: 0 auto;
    width: 100%; }
.package-slider .package-slider-description {
  padding: 1.25rem;
  background-color: #ffffff;
  border: 1px solid #aaaaaa; }
  .package-slider .package-slider-description p {
    max-height: 140px;
    overflow: hidden; }
    .package-slider .package-slider-description p.open {
      max-height: none; }
  .package-slider .package-slider-description .description-expand {
    display: flex;
    justify-content: flex-end; }
  .package-slider .package-slider-description .package-slider-description-contents {
    padding-top: 1rem;
    border-top: 1px solid #aaaaaa;
    margin-top: 1rem; }
.package-slider .package-slider-description-title, .package-slider .package-slider-description-partnumber {
  font-weight: 500; }
.package-slider .package-slider-description-title {
  font-size: 1.5rem; }
  @media screen and (max-width: 39.9375em) {
    .package-slider .package-slider-description-title {
      font-size: 1.25rem; } }
.package-slider .package-slider-description-partnumber {
  font-size: .875rem;
  display: flex;
  align-items: flex-end; }

/*# sourceMappingURL=style.css.map */
