<cfcomponent>
	<cfset This.name = "crowntoyota">
	<!--- Each website needs its own app name. Very important --->
	<cfset This.Sessionmanagement=true>
	<cfset This.Sessiontimeout="#createtimespan(0,0,30,0)#">
	<cfset This.applicationtimeout="#createtimespan(5,0,0,0)#">
	<cfset This.s3.accessKeyID = "AKIAIREFFA7PPOH4DKFQ">
	<cfset This.s3.awsSecretKey = "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">
	<cfif findNoCase("vagrant", CGI.cf_template_path)>
		<cfset this.mappings['/models'] = "/vagrant-parent/modules/models">
		<cfset this.mappings['/controllers'] = "/vagrant-parent/modules/controllers">
	<cfelse>
		<cfset this.mappings['/models'] = "D:\Websites\modules\models">
		<cfset this.mappings['/controllers'] = "D:\Websites\modules\controllers">
	</cfif>
	<cfinclude template="../modules/_functions.cfm">

	<cffunction name="onApplicationStart">
		<!--- This is the area you should be customizing --->
		<cfset Application.websiteID = 1>
		<cfset Application.intMaxRows = 40> <!--- The default number of results that will appear on any 1 page --->
		<cfset Application.SYSTEMIMAGEPATH = "http://images.iconfigurators.com/images/">
		<cfset Application.IconAPIKey = 'RETEBCNAJUFQYHNUPOOBNTGEOTUUXBNQQOYCHVQRXJHIOHMPEZ'>
		<!--- font family is an array. Add as many as you need --->
		<cfset Application.arrFontFamily  = [
			"Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic",
			"Open+Sans:400,700"
		]>
		
		<cfif CGI.LOCAL_HOST == 'WIN-LN5UQP2V7LV'>
			<cfset Application.DSN = "Configurator2">
		<cfelse>
			<cfset Application.DSN = "configurator">
		</cfif>
		<cfinclude template="../modules/_settings.cfm"> 

		<cfset Application.intConfigID = 26183>
		<cfset Application.WHEELSID = 5615>
		<cfset Application.GALLERYID = 5618>
		<cfset Application.TITLE = "Crown Toyota">
		<cfset Application.TITLE2 = "Crown">
		<cfset Application.websiteURL = "www.crowntoyota.com">
		<cfset Application.SYSTEMPATH = "//www.crowntoyota.com/">
		<cfset Application.contactTollFree = "(909) 786-1586">
		
		<cfset Application.rfqEmail = "skip@icon-media.com, donald@icon-media.com" />
		
		
		
		<cfset Application.Settings.vchrRecaptchaSiteKey = "6LfLjDUUAAAAAFzP6KzTrfh-iRXoF4hY8Wm0nKoK">
		<cfset Application.Settings.vchrRecaptchaSecretKey = "6LfLjDUUAAAAAFclTqj1ztbDrVfhHDm3em-WjDHB">

		<cfinclude template="../modules/_function-bindings.cfm">
	</cffunction>
</cfcomponent>
